$minWidth: 1280px; // 最小宽度
$color: #333; // a标签颜色
$hoverColor: #409eff; // a标签hover颜色
$backgroundColor: #fff; // 整体背景色
$asideWidth: 200px; // 侧边栏宽度
$asideBackgroundColor: #0071fe; // 侧边栏背景色
$asideBorderColor: #fff; // 侧边栏菜单边框色
$asideActiveColor: #fff; // 侧边栏菜单文字选中色
$asideActiveBackgroundColor: #0059f7; // 侧边栏菜单背景选中色
$breadcrumbHeight: 44px; // 面包屑导航高度
